<div class="message-header">
 <%= link_to 'Home', gallery_index_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>

<h1>Genres#show</h1>
<p>Find me in app/views/genres/show.html.erb</p>
