<h1 class="title is-2">Inspirations</h1>
<ol class="ml-5">
  <% @inspirations.each do |inspiration| %>
    <li><%= link_to inspiration.name, inspiration %></li>
  <% end %>
</ol>
<figure class="image is-500x500">
<%= image_tag "Sky_Garden.jpg", height: 5 %>
</figure>