<h1 class="title is-2">Gallery</h1>

<div class="box">
  <label class="label">Moonlight</label>
  <figure class="image is-128x128">
    <%= image_tag "Moonlight.jpg", height: 5 %>
  </figure>
</div>

<div class="box">
  <label class="label">Directions</label>
  <figure class="image is-128x128">
    <%= image_tag "Directions.jpg", height: 5 %>
  </figure>
</div>

<div class="box">
  <label class="label">Reunion</label>
  <figure class="image is-128x128">
    <%= image_tag "Reunion.jpg", height: 5 %>
  </figure>
</div>