<div class="message-header">
 <%= link_to 'Home', gallery_index_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>
  <div class="tile is-parent">
    <article class="tile is-child message is-info">
        <p class="title">Welcome to Blair's World</p>
        <p class="title">Contact Harriet</p>
        <p class="title">Contact Harriet</p>
        <p class="title">See all the products below</p>
          <div class="tile">


    </div>


    </article>
  </div>