<div class="message-header">
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Gallery', gallery_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>
<h1>About Artsale</h1>
<p>Describe Datasets - Select one or more data sources that you wish to pull data from. Write a short description of the data you are planning to use, how the data is structured, and the required database tables and columns you will require. This description should also explain how data you pull from different sources are related or how you plan to integrate the different datasets. </p>
<div class="notification is-link">
  Primar lorem ipsum dolor sit amet, consectetur
  adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</div>